---
import Layout from "../layouts/Layout.astro";
import App from "../components/App.svelte";
import logo from "../assets/logo.png?url";
import Footer from "../components/Footer.svelte";
---

<Layout title="Kat Chat">
  
  <main
  class="overflow-y-auto flex flex-col items-center justify-center w-screen"
	>
    <section
      id="app"
      class="w-[80vw] h-full"
    >
      <App client:idle />
    </section>
  </main>
  <Footer />
</Layout>

